<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test thread-count="5"  name="SubmitOrderTest">
        <classes>
             <class name="shubhamProject.tests.SubmitOrder"/>
        </classes>
    </test>

    <test thread-count="5" name="Error Validation Test">
        <classes>
            <class name="shubhamProject.tests.ErrorValidations"/>
        </classes>
    </test>
</suite>